*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black ;
}

.nav{
    height: 70px;
    background-color: black;
}
.logo{
    
    color: whitesmoke;
    font-family: 'Brush Script MT', cursive;
    font-size: 3.1rem;
    padding-left: 80px;
}
.navbar{
    position: absolute;
    right: 130px;
    top: 15px;
    color: whitesmoke;
    }
.navbar li{
display: inline-block;
margin-right: 40px;
padding-bottom: 10px;
margin-bottom: -30px;
font-family: sans-serif;
}
.navbar li a{
padding-top: -10px;
}
.navbar button{
    width: 60px;
    height: 33px;
    border-radius: 30px;
    margin-left: 40px;
    margin-top: 15px; 
    transition: background-color 0.5s;
}
.navbar span{
    display: block;
    background-color: rgb(152, 153, 153);
    width: 26px;
    height: 26px;
    border-radius: 30px;
    transition: background-color 0.5s , margin-left 0.5s;
}
.lamp{
    width: 180px;
    height: 300px;
    position: absolute;
    top: -15%;
    left:250px;
}
.light{
    width: 600px;
    height: 400px;
    transform: translateX(-50%);
    position: absolute;
    top:190px;
    left:335px;
    opacity: 0;
    transition: opacity 0.5s;
}
.img h3{
    position: absolute;
    bottom: 300px;
    left: 280px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,cursive;
    transition: color 0.5s;
}
.text-container{
    color: white;
    max-width: 550px;
    float: right;
    position: absolute;
    right: 140px;
    top: 150px;
}
.text-container h1{
    font-size: 70px;
    font-weight: 350px;
    font-family: sans-serif;
}
.text-container p{
    margin-top: 20px;
    font-family: sans-serif;
}
.text-container a{
    font-family: sans-serif;
    display: block;
    background-color: #00986f;
    width: 200px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
    border-radius: 30px;
    color: white;
    padding-top: 15px;
    text-decoration: none;
}
.control{
    color: white;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    /* position: absolute;
    right: 0px;
    bottom: 100px;
    display: flex; */
}
.control .line{
    width: 250px;
    height: 4px;
    background-color: white;
    margin: 0 20px;
    border-radius: 2px;
}
.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display: block;
}
.active{
    background: #00986f;
}
.active span{
    background-color: #fff;
    margin-left: 30px;
}
.on{
    opacity: 1;
}
.name{
    color: #fff;
}

.ehtisham{
    width: 200px;
    height: 200px;
    margin-top: 700px;  
    padding-left: 100px;  
    opacity: 0;
    transition: opacity 0.5s;
}
.jahanzaib{
    width: 200px;
    height: 200px;
    margin-top: 700px;  
    padding-left: 100px;  
    opacity: 0;
    transition: opacity 0.5s ,ease 0.5s;
}
.saqab{
    width: 200px;
    height: 200px;
    margin-top: 700px;  
    padding-left: 100px;  
    opacity: 0;
    transition: opacity 0.5s;
}
.mian{
    width: 200px;
    height: 200px;
    margin-top: 700px;  
    padding-left: 100px;  
    opacity: 0;
    transition: opacity 0.5s;
}
.buttons button{
    width: 200px;
    height: 30px;
    /* background-color: #00986f; */
    /* color:#00986f;; */
    position: relative;
    margin-left: 100px;
    top: 690px; 
}
.picshown{
    opacity: 1;
}
.displayname{
    background-color: #00986f;
    color: #fff;
}
